
<h1>Projects</h1>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
<div class="container">
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Due Date</th>
       <th>Task Assigned</th>
      <%if current_user.admin.present?%>
        <th>Edit</th>
        <th>Destroy</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
      <%a=task.due_date%> <%j=Time.now-1.days%>
      <%q=Time.now+5.days%><%k=Time.now-2.days%>
       <%b=Time.now+4.days%> <%l=Time.now-3.days%>
      <%c=Time.now+3.days%><%m=Time.now-4.days%>
       <%d=Time.now+2.days%><%n=Time.now-5.days%>
        <%e=Time.now+1.days%><%x=Date.today%>

     <% if a.to_formatted_s(:long) ==q.strftime("%B %d, %Y")||a.to_formatted_s(:long) ==b.strftime("%B %d, %Y")||a.to_formatted_s(:long) ==c.strftime("%B %d, %Y")|| a.to_formatted_s(:long) ==d.strftime("%B %d, %Y")||a.to_formatted_s(:long) ==e.strftime("%B %d, %Y")%>

        <td class="color"><%= task.name %></td>
        <td class="color"><%= task.description %></td>
        <td class="color"><%= task.due_date %></td>
        <td class="color"><%= task.assigned_to %></td>
         <% if can? :update, task %>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
         <% end %>
          <% if can? :destroy, task %>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      

      <% elsif a.to_formatted_s(:long) ==j.strftime("%B %d, %Y")||a.to_formatted_s(:long) ==k.strftime("%B %d, %Y")||a.to_formatted_s(:long) ==l.strftime("%B %d, %Y")||a.to_formatted_s(:long) ==m.strftime("%B %d, %Y")||a.to_formatted_s(:long) ==n.strftime("%B %d, %Y")%>
      
        <td class="color3"><%= task.name %></td>
        <td class="color3"><%= task.description %></td>
        <td class="color3"><%= task.due_date %></td>
        <td class="color3"><%= task.assigned_to %></td>
         <% if can? :update, task %>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
         <% end %>
          <% if can? :destroy, task %>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>


        <% elsif a ==x%>
        <td class="color1"><%= task.name %></td>
        <td class="color1"><%= task.description %></td>
        <td class="color1"><%= task.due_date %></td>
        <td class="color1"><%= link_to  "#{task.assigned_to}", task %></td>
        
        <!-- <td><%= link_to 'Show', task %></td> -->
         <% if can? :update, task %>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
         <% end %>
          <% if can? :destroy, task %>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>


         <% else%>
        <td class="color2"><%= task.name %></td>
        <td class="color2"><%= task.description %></td>
        <td class="color2"><%= task.due_date %></td>
        <td class="color2"><%= task.assigned_to %></td>
        <!-- <td><%= link_to 'Show', task %></td> -->
         <% if can? :update, task %>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
         <% end %>
          <% if can? :destroy, task %>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
</div>





<style type="text/css">
.color
{ 
  background-color: yellow; }
  .color1
{ 
  background-color: orange; }
   .color2
{ 
  background-color: grey; }
   .color3
{ 
  background-color: red; }
</style>
