<div id="flash">
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
</div>

<p id="notice"><%= notice %></p>
<h1>Tasks</h1>

<table>
  <thead>
    

  <tbody>
    <% @tasks.each do |task| %>
    <%a=task.created_at%>
     <tr><% if a.in_time_zone('New Delhi') ==Time.now+5.days%>
     <div class="color">
        <%= task.name %><%= task.description %>task.created_at(<%= task.due_date%>)
         </div></tr>

   <% elsif a.in_time_zone('New Delhi') >Time.now-24.hours || a.in_time_zone('New Delhi') ==Time.now
   %>
      <tr><div class="color1">
      <%= task.name %><%= task.description %><%= task.due_date%>
      </div></tr>
      <%else%>
       <tr><div class="color2">
       <%= task.name %><%= task.description %><%= task.due_date%>
        <% end %>
    <%end%>
  </tbody>
</table>

<br>



<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 5000);
 })
</script>



<style type="text/css">
.color
{ 
  background-color: yellow; }


  .color1
{ 
  background-color: orange; }

   .color2
{ 
  background-color: grey; }
</style>



<%= link_to 'New Project', new_task_path %>
